body{
	margin: 0;
	background-color: #3D4149;
	color: white;
}

#mainHeader{
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	font-size: 95pt;
	letter-spacing: 5px;
	text-align: center;	
	color: #F1EBEB;
}

#timething{
	text-align: center;
	font-size: 65px;
}

select {
    color: #3e3e3e;
    border:3px solid #3e3e3e;
    vertical-align: middle;
    text-align: center;
    height:40px;
    width: 200px;
    font-size: 25px;

}

select:active {
	text-align: center;
	vertical-align: middle;
	border: 1px solid #3e3e3e;
	font-size: 15px;
}

input, select{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

#excuse-text{
	font-size: 50px;
	text-align: center;
	padding-top: 100px;
	padding: 40;
	color: #FFFFFF;
}

#timepicker{
	text-align: center;
	vertical-align: middle;
}

#option{
	color: red;
}
